:root {
  --black: #222;
  --dark-1: #5C5C5C;
  --dark-2: #414141;
  --dark-3: #3F3F3F;
  --dark-4: #595959;
  --grey-1: #D9D9D9;
  --grey-2: #C6C6C6;
  --grey-3: #B3B3B3;
  --grey-4: #ABABAB;
  --grey-5: #7B7B7B;
  --grey-6: #6F6F6F;
  --light-1: #F3F3F3;
  --light-2: #EAEAEA;
  --white: #fff;
  --green-1: #108F43;
  --green-2: #22993D;
  --green-3: #2FC117;
  --yellow: #FFC700;
  --red: #FF1B1B;
  --blue: #339DFF;
  --blue-1: #267DFF;
  --orange: #FF8A00;
  --violet: #8133ff;

  --font-size-body: 16px;

  --gap-xs: 0.125rem; // 2px
  --gap-sm: 0.25rem; // 4px
  --gap-md: 0.5rem; // 8px
  --gap-lg: 1rem; // 16px
  --gap-xl: 1.5rem; // 24px
  --gap-xxl: 2rem; // 32px
}
